/* Import fonts */
@font-face {
  font-family: "Melodrama";
  src: url("../public/fonts/Melodrama_Complete/Fonts/Melodrama-Variable.ttf")
    format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* CSS Variables */
:root {
  --white: #ffffff;
  --black: #000000;
  --gold-secondary: #d4ad49;
  --difference-gold-secondary: #2b52b6;
  --red-cta: #bb1616;
}

/* Global Layout */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Noto Sans JP", sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.white-text {
  color: var(--white);
}

.w-fit-c {
  width: fit-content;
}

.w-max-c {
  width: max-content;
}

.h-100vh {
  height: 100vh;
}

.h-200vh {
  height: 200vh;
}

.h-300vh {
  height: 300vh;
}

.flex,
.container.flex {
  display: flex;
}

.grid {
  display: grid;
}

@media screen and (min-width: 780px) {
  .ls-flex {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .l-ls-flex {
    display: flex;
  }
}

/* Text Special */
.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Text Style classes */
h1,
h2 {
  font-family: "Melodrama";
  font-weight: 300;
}

.meta {
  font-weight: 300;
}

.header-text,
.footer-link {
  font-weight: 350;
}

.body {
  font-weight: 400;
}

.button {
  font-weight: 500;
}

h1 {
  font-size: calc(62px + (100 - 62) * ((100vw - 320px) / (1440 - 320)));
}

h2 {
  font-size: calc(44px + (56 - 44) * ((100vw - 320px) / (1440 - 320)));
}

h3 {
  /* font-size: calc(24px + (24 - 24) * ((100vw - 320px) / (1440 - 320))); */
  font-size: 24px;
  font-weight: 300;
}

.body,
.button,
.footer-link {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(22.4px + (28.8 - 22.4) * ((100vw - 320px) / (1440 - 320)));
  font-family: "Noto Sans JP", sans-serif;
}

.meta,
.header-text {
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
  line-height: 22.4px;
}

.kanji {
  font-family: "Noto Sans JP", sans-serif;
}

.gold-text {
  color: var(--gold-secondary);
}

/* Border */

.rounded {
  border-radius: 50%;
}

.border-bottom {
  border-bottom: 1px solid var(--white);
}

/* Global elements */

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}
