/* Container Gaps */
.cg-24 {
  column-gap: 24px;
}

/* Container Childrens Layout */

.aic {
  align-items: center;
}

/* Childrens Position */

.gc-2 {
  grid-column: 2;
}

.gc-11 {
  grid-column: 11;
}

.gc-sm-2-9-ls-9-13,
.gc-sm-2-9-ls-2-5 {
  grid-column: 2/9;
}

@media screen and (min-width: 780px) {
  .gc-sm-2-9-ls-9-13 {
    grid-column: 9/13;
  }
  .gc-sm-2-9-ls-2-5 {
    grid-column: 2/5;
  }
}

/* Padding */
/* Top */
.pt-32 {
  padding-top: 32px;
}

.pt-192-320 {
  padding-top: 192px;
}

@media screen and (min-width: 780px) {
  .pt-192-320 {
    padding-top: 320px;
  }
}

/* Bottom */

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

/* Margin */
/* Top */

/* Bottom */

.mb-8 {
  margin-bottom: 8px;
}

/* Childrens Width */

.max-w-90 {
  max-width: 90%;
}

/* Hover Classes */

.hover-underline-from-center {
  position: relative;
  cursor: pointer;
}

.hover-underline-from-center::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  will-change: transform;
  transform: scaleX(0);
  transform-origin: center center;
  transition: 0.7s ease-in-out;
}

.hover-underline-from-center.white::after {
  background-color: var(--white);
}

.hover-underline-from-center.gold::after {
  background-color: var(--gold-secondary);
}

.hover-underline-from-center:hover::after {
  transform: scaleX(1);
}
